{% extends "StudentManagement_Base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 5px solid black;
            font-size: 17px;
            font-family:Comic Sans MS;
        }
    </style>
</head>
<body>
    <div style="float: left;padding-left: 50px;">
        <img src="{{url_for('static', filename='StudentManagement.jpg')}}" height="400px" width="700px"></img>
    </div><br><br><br><br><br>
    
    <div style="float: left;padding-left: 140px;">
        <center>
            <p><b><i><font size="10"> Students </font size></i></b></p>
            <p><b><i><font size="10"> Data </font size></i></b></p>
        </center>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    <center>
        <table border = 2>
            <thead>
                <th><br> &nbsp; Std ID &nbsp; <br><br></th>	
                <th><br> &nbsp; &nbsp; &nbsp; Name <br><br></th>
                <th><br> &nbsp; Age  &nbsp; <br><br></th>
                <th><br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Email ID <br><br></th> 
                <th><br> &nbsp; &nbsp; Phone No. <br><br></th>
                <th><br> &nbsp; &nbsp; &nbsp; &nbsp; Address <br><br></th>
                <th><br> &nbsp; &nbsp; &nbsp; Courses <br><br></th>
            </thead>
            
            {% for row in rows %}
                <tr>
                    <td>&nbsp; &nbsp; &nbsp; &nbsp;{{row['Sid']}} &nbsp;</td>
                    <td>&nbsp; &nbsp;{{row["Name"]}} &nbsp; &nbsp;</td>
                    <td>&nbsp; &nbsp;{{row['Age']}}</td>
                    <td>&nbsp; &nbsp;{{row['Email']}} &nbsp; &nbsp;</td>
                    <td>&nbsp; &nbsp;{{row['PhoneNo']}}  &nbsp; &nbsp;</td>
                    <td>&nbsp; &nbsp;{{row["Address"]}} &nbsp; &nbsp;</td>
                    <td>&nbsp; &nbsp;{{row["Course"]}}  &nbsp; &nbsp;</td>	
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>    

{% endblock %}